.blog-post {
    line-height: 1.8em;
}

.post-h1 {
    color: rgb(91, 91, 91);
}
.blog-post > h1, h2, h3 {
    padding-top: 45px;
    color: rgb(91, 91, 91)
}

.blog-post > p{
    color: rgb(121, 121, 121);
}