.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
    background: linear-gradient(to right,#976eff, #dc6ae8);
    color: #fff;
}


.header-right {
    display: flex;
    align-items: center;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.header > h1 {
    font-size: 24px;
    font-weight: lighter;
    padding-left: 10px;
}

.header-list {
    display: flex;
    list-style: none;
}

.header-list > li {
    padding-left: 10px;
    color: white;
}

/* sub-nav */
.sub-ul > ul {
    display: none;
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
}

.sub-ul:hover > ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    height: 120px;
    color: white;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}



.sub-ul-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.sub-ul-link:hover {
    color: #dc6ae8;
    transition: all .1s ease-in-out;
}


.header-search {
    padding-left: 10px;
}

.header-input {
    background: transparent;
    width:100px;
    color: white;
    border: none;
    font-size: 16px;
    text-align: right;
}

.header-list > li:hover {
    color: #bbb;
    transition: all .2s ease-in-out;
  }

.header-button {
    margin-left: 10px;
    color: white;
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 10px;
  }
  
  .header-button:hover {
    color: #976eff;
    border: 1px solid #976eff;
    transition: all .2s ease-in-out;
  }

::placeholder {
    color: rgb(231, 231, 231);
    font-size: 16px;
    font-weight: 100;
  }

  @media(orientation: portrait) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7vh;
        width: 100%;
        background: linear-gradient(to right,#976eff, #dc6ae8);
        color: #fff;
    }
    
    
    .header-right {
        display: flex;
        align-items: center;
    }
    
    .header-link {
        text-decoration: none;
        color: inherit;
    }
    
    .header > h1 {
        font-size: 5vw;
        font-weight: lighter;
        padding-left: 10px;
    }
    
    .header-list {
        display: flex;
        list-style: none;
    }
    
    .header-list > li {
        color: rgb(251, 251, 251);
        padding-left: 10px;
        font-size: 3vw;
    }
    
    .header-search {
        padding-left: 10px;
        
    }
    
    .header-input {
        background: transparent;
        width:100px;
        color: white;
        border: none;
        text-align: right;
        font-size: 3vw;
    }

    .header-list > li:hover {
        color: #fff;
      }
    
    .header-button {
        margin-left: 10px;
        font-size: 3vw;
        color: white;
        background: transparent;
        border-radius: 5px;
        border: 1px solid white;
        margin-right: 10px;
      }

      ::placeholder {
        color: rgb(231, 231, 231);
        font-size: 3vw;
        font-weight: 100;
      }
  }