html, body {
    margin: 0;
    padding: 0;
    background: rgb(251, 251, 251);
}

.post-index {
    display: flex;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 50px;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
    letter-spacing: 0.8pt;
}

.index-h3 {
    padding: 0;
}

.index-ellipsis {
    line-height: 1.5em;
    letter-spacing: 0.6pt;
}



.about {
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15)
}

.about-ul {
    list-style: none;
}

.about-ul > li {
    padding: 5px 0;
}
.post-container {
    border-radius: 5px;
    padding: 80px;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}
.post-content {
    line-height: 1.8em;
    letter-spacing: 0.8pt;
}

.post-h1 {
    color: rgb(91, 91, 91);
    letter-spacing: 0.8pt;
}
.post-content > h2, h3 {
    padding-top: 45px;
    color: rgb(91, 91, 91);
    letter-spacing: 0.8pt;
}

.post-content > p{
    color: rgb(121, 121, 121);
}

.post-content:last-child {
    margin-bottom: 100px;
}


